name: Push to Mirror
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  push-to-mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Push to Mirror Repository
        env:
          MIRROR_REPO: ${{ variables.MIRROR_REPO }}
          ACCESS_TOKEN: ${{ variables.ACCESS_TOKEN }}
        run: |
          echo "Pushing to mirror repository: $MIRROR_REPO"
          echo https://x-access-token:$ACCESS_TOKEN@github.com/$MIRROR_REPO
          git remote add mirror https://x-access-token:$ACCESS_TOKEN@github.com/$MIRROR_REPO
          git push mirror main --no-thin --force
