name: Push to Mirror
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  push-to-mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Push to Mirror Repository
        env:
          MIRROR_REPO: ${{ vars.MIRROR_REPO }}
          ACCESS_TOKEN: ${{ vars.ACCESS_TOKEN }}
        run: |
          echo "Pushing to mirror repository: ${{ vars.MIRROR_REPO }}"
          echo https://${{ vars.ACCESS_TOKEN }}@github.com/${{ vars.MIRROR_REPO }}
          git remote add mirror https://${{ vars.ACCESS_TOKEN }}@github.com/${{ vars.MIRROR_REPO }}
          git push mirror main --no-thin --force
