name: Push to Mirror
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  push-to-mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
      - name: Push to Mirror Repository
        env:
          MIRROR_REPO_URL: ${{ secrets.MIRROR_REPO }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: |
          git remote set-url origin https://x-access-token:$ACCESS_TOKEN@github.com/$MIRROR_REPO
          git push origin main --no-thin --force
