name: Push to Mirror
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  push-to-mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
      - name: Push to Mirror Repository
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.ACCESS_TOKEN }}@github.com/${{ secrets.MIRROR_REPO_URL }}
          git push origin main --no-thin --force
